@tailwind base;
@tailwind components;

@layer base {
  @media (prefers-color-scheme: light) {
    img[src$='#gh-dark-mode-only'] {
      display: none !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    img[src$='#gh-light-mode-only'] {
      display: none !important;
    }
  }

  [type='search']::-webkit-search-decoration {
    display: 'none';
  }
  [type='search']::-webkit-search-cancel-button {
    display: 'none';
  }
  [type='search']::-webkit-search-results-button {
    display: 'none';
  }
  [type='search']::-webkit-search-results-decoration {
    display: 'none';
  }
}

@layer components {
  .markdown-body {
    --color-canvas-default: var(--background);
    --color-fg-default: var(--foreground);
    --color-border-muted: hsl(var(--border));
    --borderColor-muted: hsl(var(--border));
    --borderColor-default: hsl(var(--border));
    --fgColor-muted: hsl(var(--muted-foreground));
    --bgColor-muted: hsl(var(--input));

    a {
      color: hsl(var(--foreground));
      text-decoration: underline;
    }

    blockquote a {
      color: hsl(var(--muted-foreground));
      text-decoration: underline;
    }

    img.local-src-hidden {
      display: none;
    }
  }
}
