<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Hello Electron React!</title>
  </head>
  <body class="overflow-hidden w-screen h-screen text-foreground bg-background">
    <div class="flex flex-row w-screen h-screen" id="root"></div>
  </body>
</html>
